.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;
  }

  dt, .logoaccordeon {
    display: flex;
    align-items: center;
}

  .header__menu-Btn {
    position: relative;
    z-index: 10;
  }

  .noscroll,
  .noscroll body {
    overflow: hidden;
  }

  .media--fullwidth {
    width: 100%;
    height: auto;
}
.dog {
    content: url("../../public/icones/dog.svg");
    margin-left: 25px; /* Décale légèrement à droite */
    
}



.cat {
    content: url("../../public/icones/cat.svg");
}
.house {
    content: url("../../public/icones/house.svg");
}

.dog, .cat, .house {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.cat, .house {
    margin: 0 20px; /* Augmente l'espace de chaque côté */
}