.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;
  }

  dt, .logoaccordeon {
    display: flex;
    align-items: center;
}

  .header__menu-Btn {
    position: relative;
    z-index: 10;
  }

  .noscroll,
  .noscroll body {
    overflow: hidden;
  }

  .media--fullwidth {
    width: 100%;
    height: auto;
}
.dog {
    content: url("../../public/icones/dog.svg");
    margin-left: 25px; /* Décale légèrement à droite */
    
}



.cat {
    content: url("../../public/icones/cat.svg");
}


.dog, .cat, .house {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.cat, .house {
    margin: 0 20px; /* Augmente l'espace de chaque côté */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4c198;
  border-bottom-left-radius: 10px; /* Arrondit le coin inférieur gauche */
  border-bottom-right-radius: 10px; /* Arrondit le coin inférieur droit */
  padding: 10px 20px; /* Ajoute un peu de marge intérieure */
}

body {
  background-color: #1a120b;
  margin-top: 0; /* Ajout de cette ligne pour supprimer la marge du haut */
}

p, h1, h2, ul, li, dl, dt, dd {
  color: #f4e5d7;
}